{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
<form action="/login" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email"
            placeholder="Color Email" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="pw" name="pw" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Log In</button>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" style="background-color: transparent" name="del" value="del" type="submit">Delete Account</button>
    </div>
</form>
{% endblock %}
